    <div class = "main">

  <div class = "editor">

    <div class = "info section">

      <form class="form-horizontal" role="form">

        <!-- title -->
        <div class="form-group">
          <label for="inputTitle" class="col-sm-2 control-label">Title:</label>
          <div class="col-sm-10">
            <input ng-model = "$storage.article.title" type="text"
                    class="form-control" id="inputTitle" placeholder="">
          </div>
        </div>

        <!-- city -->
        <div class="form-group">
          <label for="selectCity" class="col-sm-2 control-label">City:</label>
          <div class="col-sm-10">
            <select class="form-control" id="selectCity" ng-model="$storage.article.city"
                    ng-options=" city for city in cities"></select>
          </div>
        </div>
      </form>
    </div>

    <!-- content-->
    <div class = "contents section">
      <h1>{{$storage.article.title}}</h1>
      <h6>city:{{$storage.article.city}}</h6>
      <div class = "repeating block" ng-repeat="item in $storage.article.contents">
          <div ng-bind-html="format.auto(item)"></div>
      </div>
    </div>

    <!-- editing content-->
    <div class = "editing content section">
      <div ng-bind-html = "format.auto($storage.editing.block)"></div>
      <div ng-bind-html = "format.auto($storage.editing.inline)"></div>
    </div>

    <!-- editor tools -->
    <div class = "tool section">
      <tabset justified = "false">

      <!-- heading -->
        <tab heading = "Heading" ng-click = "$storage.editing.block = $storage.tools.heading">
        <br/>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="inputUrl" class="col-sm-2 control-label">HEADING:</label>
              <div class="col-sm-10">
                <input ng-model = "$storage.tools.heading.text" type="text"
                        class="form-control" id="inputLinkUrl" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button ng-click = "$storage.article.contents.push(clone($storage.tools.heading));$storage.tools.heading.text=''" type="submit" class="btn btn-default">OK</button>
              </div>
            </div>
          </form>
        </tab>

      <!-- paragraph -->
        <tab heading = "Paragraph" ng-click = "$storage.editing.block = $storage.tools.paragraph">
        <br/>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="inputParagraphText" class="col-sm-2 control-label">PARAGRAPH:</label>
              <div class="col-sm-10">
                <textarea rows = "10" ng-model = "$storage.tools.paragraph.text" type="text"
                        class="form-control" id="inputParagraphText" placeholder="">
                </textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button ng-click = "$storage.article.contents.push(clone($storage.tools.paragraph));$storage.tools.paragraph.text=''"type="submit" class="btn btn-default">OK</button>
              </div>
            </div>
          </form>
        </tab>

      <!-- link -->
<!--         <tab heading = "link" ng-click = "$storage.editing.inline = $storage.tools.link">
        <br/>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="inputUrl" class="col-sm-2 control-label">URL:</label>
              <div class="col-sm-10">
                <input ng-model = "$storage.tools.link.url" type="text"
                        class="form-control" id="inputLinkUrl" placeholder="">
              </div>
            </div>
            <div class = "form-group">
              <label for="inputUrl" class="col-sm-2 control-label">TEXT:</label>
              <div class="col-sm-10">
                <input ng-model = "$storage.tools.link.text" type= "text"
                        class="form-control" id="inputLinkText" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button ng-click = "$storage.editing.block.text = format.auto($storage.tools.link);$storage.tools.link.text='';$storage.tools.link.url='';"
                 type="submit" class="btn btn-default">OK</button>
              </div>
            </div>
          </form>
        </tab> -->

    </div>

  <pre>
  article: <br/> {{$storage.article}}
  <br/>
  tools: <br/> {{$storage.tools}}
  <br/>
  editing: <br/> {{$storage.editing}}
  </pre>

  <pre>{{format.auto($storage.editing.inline)}}</pre>

  </div>
</div>



